#topbg {
	background:#CDEAFA;
	left:0;
	top:0;
	height:32px;
	line-height:32px;
	position:fixed;
	width:100%;
}
#header {
	margin-top:32px;
}
#topbar {
	margin:0 auto;
	width:950px;
}
#topbar-left {
	float:left;
}
#topbar-right {
	color:#ccc;
	float:right;
}
#wrapper {
	margin:0 auto;
	width:950px;
}
#topbox {
	margin:0 auto;
	width: 950px;
	height:75px;
}
.logo {
	background:url(../img/logo.png) no-repeat center;
	display:block;
	float:left;
	height:72px;
	width:200px;
}