ul, ol {
	list-style: none;
}
#topbg {
	background:#CDEAFA;
	left:0;
	top:0;
	height:32px;
	line-height:32px;
	position:fixed;
	width:100%;
}
#header {
	margin-top:32px;
}
#topbar {
	margin:0 auto;
	width:950px;
}
#topbar-left {
	float:left;
}
#topbar-right {
	color:#ccc;
	float:right;
}
#wrapper {
	margin:0 auto;
	width:950px;
}
#topbox {
	margin:0 auto;
	width: 950px;
	height:75px;
}
#navbox {
	display: block;
	height: 35px;
	color:#ffffff;
	background-color: RGB(96,117,235);
}
.navbar li {
	float:left;
	height: 35px;
	width: 100px;
	text-align: center;
}
.navbar .navline {
	background:#0797e5;
	display: block;
	height:35px;
	width: 1px;
}